body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
}

.container {
    max-width: 400px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.input-container {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

input[type="text"] {
    flex: 0.9;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(57, 55, 55);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: red;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .container {
    max-width: 80%;
  }
}